APP_ENV=local
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
SENTRY_DSN=

# Feature flags
AUTO_RESPONDER_ENABLED=true
BUG_REPORT_FORMAT_ENABLED=true
MOBILE_BUG_REPORT_FORMAT_ENABLED=true
IDEA_FORMAT_ENABLED=true
GOOGLE_PLAY_SPAM_MOD_ENABLED=true
NITRO_SCAM_MOD_ENABLED=true
INVITE_LINK_MOD_ENABLED=true
SLUR_BAN_MOD_ENABLED=true
RAPID_MESSAGE_SPAM_MOD_ENABLED=true
CROSS_CHANNEL_SPAM_MOD_ENABLED=true
